/* Sticky Footer Solution by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com*/
* {
	margin: 0;
	padding: 0;
}/*Quitamos unas propiedades que por defecto traen los navegadores y las ponemos en “0”*/

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	padding-bottom: 50px;
}/* Altura en px del footer */

#footer  {
	position: relative;
	margin-top: -50px; /* altura en px del footer con valor negativo */
	height: 35px; /* Altura del Footer en px*/
	font-size: 11px;
	padding: 15px 0px 0px 0px;
	clear: both;
	background: #f5f5f5;
	border-top: 1px solid white;
	text-align: center;
	color: #777777;
}

#footer p {
	line-height: 5px;
}

.login {
	width: 450px;
	position: absolute;
	top: -50;
	bottom: 0;
	left: 0;
	right: 0;
	width: 450px;
	height: 300px;
	margin: auto;
}

.login-form {
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px !important;
	text-align: center;
	background: transparent;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.login input {
	text-align: center;
	display: block;
	padding: 0px 5px 0px 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	min-height: 30px;
	width: 180px
}

.login button {
	margin-top: 15px;
	margin-bottom: 0px;
	width: 180px
}

.table-info {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	border: 1px solid #dddddd;
}

.table-info td {
	border: 0px;
	padding: 15px;
}

.white-area {
	background: white;
	border: 1px solid #dddddd;
	padding: 0px;
}
.white-area-content {
	padding: 15px;
}

.space1 {
	margin-top: 20px;
}

.table-documents td , .table-documents th {
	padding: 7px;
	border-top: 0px !important;
	border-bottom: 1px solid #dddddd;
	vertical-align: middle;
	height: 30px;
}

.table-documents label, .table-documents p, .table-documents input {
	vertical-align: middle; 
	text-align: left;
	margin: 0px; 
	display: inline-block;
}
.table-documents label {
	padding-left: 0px;
}
.nav-tabs > .active > a{
	line-height: 20px;
	background-color: white; 
	color: black;
}

.nav-tabs > li > a {
	background-color: white; 
	border: 1px solid rgb(245, 245, 245); 
	border-bottom: 0px;
	color: black;
}

td, th {
vertical-align: middle !important;
}
th {
	background: #F5F5F5;
}

.navbar .nav > li > a {
	padding: 15px 5px 15px 5px;
}
.nav-collapse .nav > li > a {
	color: white;
}

.error-min {
	border-left: 5px solid red;
}

.warning-min {
	border-left: 5px solid yellow;
}

.success-min {
	border-left: 5px solid green;	
}


.error-min-r {
	border-right: 5px solid red;
}

.warning-min-r {
	border-right: 5px solid yellow;
}

.success-min-r {
	border-right: 5px solid green;	
}

.text-center > th {
	text-align: center;
}

.dropdown-menu .divider {
	border-bottom: 1px solid rgb(196, 196, 196);
}

.table-centered th , .table-centered td {
	text-align:center;
} 

.alert {
	padding: 5px 15px 5px 15px;
	color: white !important;
	text-shadow: none !important;
}